@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CCL App</h1>
    <p class="lead">CCL App es una aplicacion para la gestion de activos informaticos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestion de Activos</h2>
        <p>
            El software cuenta con un gestion de activos bastante amplia la cual te permite identificar el Activo asignado a un usuario en cuestion, como tambien verificar que repuestos o reparaciones se le realizaron al mismo.
        </p>
        <p><a class="btn btn-default" href="">Inicio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestion de Usuarios</h2>
        <p>CCL tambien cuenta con una gestion de usuarios, la cual pueda identificar dentro del personal empresarial quien tiene asignado que equipo corporativo para llevar un mejor registro.</p>
    </div>
    <div class="col-md-4">
        <h2>Gestion de Locacion</h2>
        <p>Puede administrar facilmente las locaciones para identificar en que sitio se encuentran los activos corporativos como los usuarios.</p>
    </div>
</div>